<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
  <h2>Dojo Weather</h2>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <button (click)="newMessage('san jose')">San Jose</button>
    </li>
    <li class="nav-item">
      <button (click)="newMessage('seattle')">seattle</button>
    </li>
    <li class="nav-item">
      <button (click)="newMessage('burbank')">burbank</button>
    </li>
    <li class="nav-item">
      <button (click)="newMessage('dallas')">dallas</button>
    </li>
    <li class="nav-item">
      <button (click)="newMessage('washington')">washington dc</button>
    </li>
    <li class="nav-item">
      <button (click)="newMessage('chicago')">chicago</button>
    </li>

  </ul>
  </div>
</nav>

<hr>
