<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Share+Tech" rel="stylesheet">
</head>
<body>







<router-outlet>
<app-nav></app-nav>
</router-outlet> 

<div class="row justify-content-center">
<div class="jumbotron" *ngIf="!message">Welcome to weather Dojo, select a location to see its weather</div>

<div class="col-sm-4" *ngIf="message">
	
<p>The weather in {{message.name}} is:</p>
<p>General: {{message.weather[0].main}}</p>
<p>less general: {{message.weather[0].description}}</p>
<p>with a temp in kelvin of: {{message.main.temp}}</p>


</div>
<div class="col-sm-4" *ngIf="message">

	<img src="{{message.img}}">
</div>
</div>

</body>
</html>
